---
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .filter((p) => !p.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BlogLayout title="Blog">
  <h2>Blog</h2>
  <ul class="post-list">
    {
      posts.map((p) => (
        <li>
          <a href={`/blog/${p.slug}`}>{p.data.title}</a>
        </li>
      ))
    }
  </ul>
</BlogLayout>
